




html, body, #container {
  height: 100%;
  width: 100%;
  overflow: auto;
}
body {
  padding-top: 50px;
}
input[type="radio"], input[type="checkbox"] {
  margin: 0;
}
#sidebar {
  width: 250px;
  height: 100%;
  max-width: 100%;
  float: left;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
#map {
  background-color: #686363;
  width: auto;
  height: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
  
  .leaflet-popup-content p {
      margin: 0.2em 0;
  }
  
  .legend-control-container {
      width: 150px;
      height: 100px;
      background-color: rgba(255,255,255,0.8);
      padding: 15px;
      line-height: 45px;
      text-align: center;
      border: solid black 1px;
      font-family: Verdana, Geneva, sans-serif;
      font-size: 1em;
      
  /* #temporal-legend {
      width: 100px;
      height: 50px;
      background-color: rgba(255,255,255,0.8);
      padding: 10px;
      line-height: 45px;
      text-align: center;
      border: solid gray 1px;
      
  } */
      
  }
  
  
  
  
  .leaflet-popup-content p {
      margin: 0.2em 0;
  }
  
  #forward {
      float: right;
      
      
  }
  
  #reverse {
      float: left;
      
      
  }
  
  .sequence-control-container {
      width: 350px;
      height: 30px;
      background-color: rgba(255,255,255,0.8);
      padding: 10px;
      line-height: 45px;
      text-align: center;
      border: solid gray 1px;
      margin-bottom: 30px !important;
  }
  
  .range-slider {
      width: 200px;
  }
  
  #header {
    color:#748555;
    /* -webkit-text-stroke-color: #9b1e25;
    -webkit-text-stroke-width: 1px; */
    /* border-color: #9b1e25; */
    text-align: center;
      font-size: 2em;
    font-family:Helvetica,Arial,sans-serif;
    padding: 20px;
  }
  
  #header2 {
    padding: 0;
    text-align: center;
    font-size: 1em;
    font-family: Helvetica,Arial,sans-serif;
    color:#748555;
  }
  
  #sources {
    font-size: .9em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 10px;
    color: blue;
    opacity: .8;
  }

  
/* #panel {
    /* float: left;
    width: 26%;
    padding: 20px;
    height: 750px; */
    /* display: inline-block; */
    /* vertical-align: top; */
    /* text-align: center;
    line-height: 30px;
    background-color: white;
    border-style: double;
    overflow: scroll; */
  /* }   */ 

  .sidebar-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .sidebar-table {
    position: absolute;
    width: 100%;
    top: 0px;
    bottom: 0px;
    overflow: auto;
    background-color: rgb(191, 224, 183);
    color: rgb(14, 10, 248);
  
  }